html, body {
    height: 100%;
    background: black;
    color: #88bbff; /* ghost */
    font: 400 20px/1.5 "Antonio", "Arial Narrow", "Avenir Next Condensed", sans-serif;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #2255ff;
}
.container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-row {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
    align-self: flex-start;
}
.left-column-width { width: 160px; }
.header-height { height: 250px; }

.container-frame-left {
    flex: 0 1 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: black;
    /*background-color: pink;*/
}
.container-frame-right {
    flex: 1 1 auto;
    width: auto;
    min-width: 200px;

    /* dev only remove */
    /*background-color: #b3a68b;*/
}


.temp-msg {
    color: white;
    text-align: center;
    padding-right: 10px;
    font: 400 16px/1.5  "Avenir Next Condensed", sans-serif;
}

/* Content Styling */
.container-content {
    flex: 1 1 auto;
    margin-bottom: 5px;

    /* dev only remove */
    border-radius: 80px 0 0 0;
    background-color: #444a77;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #444a77;*/
}



