html, body {
    height: 100%;
    background: black;
    color: #88bbff; /* ghost */
    font: 400 20px/1.5 "Antonio", "Arial Narrow", "Avenir Next Condensed", sans-serif;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.temp_msg {
    color: white;
    text-align: center;
    padding-right: 10px;
    font: 400 16px/1.5  "Avenir Next Condensed", sans-serif;
}
.container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-row {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
    align-self: flex-start;
}

/* Header Styling */
.container-header {
    flex: 0 1 auto;
    height: 280px;
    margin-bottom: 5px;
    /*background-color: #0047AB;*/

    /* dev only remove */
    border-style: solid;
    border-width: 1px;
    border-color: #2255ff;
}
.container-frame-left {
    flex: 0 1 auto;
    text-align: right;
    font-size: 19px;
    font-weight: 700;
    color: #000;
    /*background-color: black;*/
}
.container-frame-left-top {
    /*width: 180px;*/
    height: 280px;
    background: #25f;
    border-radius: 0 0 0 100px;
}
container-frame-right {
    flex: 1 1 auto;
    width: auto;
    min-width: 500px;
}

/* Content Styling */
.container-content {
    flex: 1 1 auto;
    margin-bottom: 5px;
    background-color: #444a77;

    /* dev only remove */
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #2255ff;*/
}

/* Footer Styling */
.container-footer {
    flex: 0 1 100px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #27322c;

    /* dev only remove */
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #2255ff;*/
}

